@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Hide scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
  display: none;
}

/* Ensure scrolling still works */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  overflow-y: scroll; /* Ensures vertical scrolling still works */
  font-family: "Roboto", serif;
}
